<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Student Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <div *ngIf="!found">
             <div claa="panel">
                 <div *ngFor="let data of details">
                     <header>
                         <h2> {{data.name}} Details</h2>

                     </header>
                     <section>
                        
                         <h3> Name: {{data.name}}</h3>
                         <h3> Email: {{data.email}}</h3>
                         <h3> ID: {{data.id}}</h3>
                         <h3> Modules: {{data.modules}}</h3>
                         <h3> Date Registered: {{data.dateRegistered}}</h3>
                         <h3> Date Modified: {{data.dateModified}}</h3>
                     </section>
                 </div>
             </div>

         </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/student-details">Close</button>
        </div>
      </div>
    </div>
  </div>