<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Student Registration</h3>
    <div class="card-body">
<div class="carousel-item active">

<img src= "../../assets/images/student-registration.jpg" height = "500" width= "1500" >
<br>
<br>
<div class="wrapper">
    <button type="button" class="btn btn-info" (click)="studentRegistration()" routerLink="/home" style="vertical-align: middle; width:50%; padding:50px mt-5"><span>Register</span></button> 
    <button type="button" class="btn btn-danger" (click)="getData()" routerLink="/student-details" style="vertical-align:middle; width:50%; padding:50px mt-5"> <span>View Registered Students</span></button>
  </div>
</div>
